{% extends "base.html.twig" %}
{% block title %} {{ parent() }}- Conditions d'utilisation {% endblock %}
{% block contenu %} 

<body>

    <div class="container mt-5">
        <h2>Conditions d'Utilisation de Stace</h2>
        <p>Merci de visiter Stace. En accédant à ce site, vous acceptez de vous conformer à ces conditions d'utilisation, à toutes les lois et réglementations applicables, et vous acceptez d'être responsable du respect des lois locales applicables. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser notre site.</p>

        <h4>Utilisation Licence</h4>
        <p>Permission est accordée de télécharger temporairement une copie des documents (informations ou logiciels) sur le site Stace uniquement pour la consultation personnelle et non commerciale. Il s'agit de l'attribution d'une licence, non d'un transfert de titre, et en vertu de cette licence, vous ne pouvez pas :</p>
        <ul>
            <li>Modifier ou copier le matériel.</li>
            <li>Utiliser le matériel à des fins commerciales ou pour toute exposition publique (commerciale ou non commerciale).</li>
            <li>Tenter de décompiler ou de désassembler tout logiciel contenu sur le site Stace.</li>
            <li>Supprimer les droits d'auteur ou tout autre notations de propriété des documents.</li>
            <li>Transférer le matériel à une autre personne ou "refléter" le matériel sur un autre serveur.</li>
        </ul>

        <h4>Clause de Responsabilité</h4>
        <p>Les informations sur le site Stace sont fournies "telles quelles". Stace ne donne aucune garantie, explicite ou implicite, et décline et nie toute autre garantie, y compris, sans limitation, les garanties implicites ou les conditions de qualité marchande, d'adéquation à un usage particulier ou de non-violation de la propriété intellectuelle ou toute autre violation des droits. De plus, Stace ne garantit ni ne fait aucune déclaration concernant l'exactitude, les résultats probables ou la fiabilité de l'utilisation des matériels sur son site web ou autrement liés à ces matériaux ou sur tout site lié à ce site.</p>

        <h4>Limitations</h4>
        <p>En aucun cas Stace ou ses fournisseurs ne seront responsables des dommages (y compris, sans limitation, les dommages pour perte de données ou de profit, ou en raison d'une interruption d'activité) résultant de l'utilisation ou de l'impossibilité d'utiliser les matériels sur le site Stace, même si Stace ou un représentant autorisé de Stace a été informé verbalement ou par écrit de la possibilité de tels dommages.</p>

        <h4>Révisions et Errata</h4>
        <p>Les matériels apparaissant sur le site Stace pourraient inclure des erreurs techniques, typographiques ou photographiques. Stace ne garantit pas que le contenu de son site web est exact, complet ou à jour. Stace peut apporter des modifications aux matériels contenus sur son site web à tout moment et sans préavis. Cependant, Stace ne s'engage pas à mettre à jour les matériaux.</p>

        <h4>Liens</h4>
        <p>Stace n'a pas examiné tous les sites liés à son site web et n'est pas responsable du contenu de ces sites liés. L'inclusion d'un lien n'implique pas l'approbation par Stace du site. L'utilisation de ces sites liés est aux risques et périls de l'utilisateur.</p>

        <h4>Modifications des Conditions d'Utilisation</h4>
        <p>Stace peut réviser ces conditions d'utilisation de son site web à tout moment sans préavis. En utilisant ce site web, vous acceptez d'être lié par la version actuelle de ces conditions d'utilisation.</p>

        <h4>Loi Applicable</h4>
        <p>Les lois de l'État de France, sans égard aux principes de conflit de lois, régiront ces conditions d'utilisation et toute dispute pouvant survenir entre vous et Stace ou ses associés.</p>

        <h4>Contact</h4>
        <p>Si vous avez des questions concernant ces conditions d'utilisation, veuillez nous contacter à contact@stace.com.</p>
    </div>
</body>












{% endblock %}