{% extends "base.html.twig" %}
{% block title %} {{ parent() }}- Politique de Confidentialité {% endblock %}
{% block contenu %}


<body>
    <div class="container mt-5">
        <h2>Politique de Confidentialité de Stace</h2>
        <p><strong>Date de Dernière Mise à Jour :</strong> 13/01/2024</p>

        <p>Merci de visiter Stace. La confidentialité de nos visiteurs est extrêmement importante pour nous. Cette politique de confidentialité décrit les types d'informations personnelles collectées et enregistrées par [Votre Site Web] et la manière dont nous les utilisons.</p>

        <h4>Collecte et Utilisation des Informations</h4>

        <h5>Informations Personnelles</h5>
        <p>Lorsque vous utilisez notre site, il se peut que nous recueillions certaines informations personnelles identifiables telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc. Ces informations sont collectées lorsque vous les fournissez volontairement, par exemple, lorsque vous remplissez un formulaire de contact ou lorsque vous vous inscrivez à notre newsletter.</p>

        <h5>Données d'Utilisation</h5>
        <p>Nous pouvons également collecter des informations sur la manière dont vous accédez et utilisez le Site. Ces données d'utilisation peuvent inclure des informations telles que votre adresse IP, le type de navigateur que vous utilisez, les pages du site que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages, et d'autres statistiques.</p>

        <h4>Cookies et Technologies Similaires</h4>
        <p>Notre site utilise des cookies et des technologies similaires pour améliorer votre expérience en ligne. Les cookies sont de petits fichiers texte placés sur votre appareil pour collecter des informations standard de journal Internet et des informations comportementales. Vous pouvez contrôler l'utilisation des cookies à travers les paramètres de votre navigateur.</p>

        <h4>Utilisation des Informations</h4>
        <p>Nous utilisons les informations collectées pour diverses finalités, notamment :</p>
        <ul>
            <li>Fournir, exploiter et maintenir notre site.</li>
            <li>Améliorer, personnaliser et élargir notre site.</li>
            <li>Comprendre et analyser l'utilisation de notre site.</li>
            <li>Répondre aux commentaires, questions ou demandes de renseignements.</li>
            <li>Vous envoyer des informations supplémentaires liées à votre demande ou intérêt.</li>
        </ul>

        <h4>Partage des Informations</h4>
        <p>Nous ne vendons, ne louons ni ne partageons vos informations personnelles avec des tiers, sauf dans les circonstances suivantes :</p>
        <ul>
            <li>Lorsque cela est nécessaire pour répondre à une demande ou à une transaction que vous avez initiée.</li>
            <li>Lorsque cela est requis par la loi ou pour protéger nos droits légaux.</li>
        </ul>

        <h4>Sécurité</h4>
        <p>Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre l'accès non autorisé, la divulgation, l'altération ou la destruction.</p>

        <h4>Liens Externes</h4>
        <p>Notre site peut contenir des liens vers des sites externes qui ne sont pas exploités par nous. Soyez conscient que nous n'avons aucun contrôle sur le contenu et les pratiques de ces sites, et nous ne pouvons pas accepter la responsabilité de leur contenu ou de leurs politiques de confidentialité.</p>

        <h4>Modifications de la Politique de Confidentialité</h4>
        <p>Nous nous réservons le droit de mettre à jour ou de modifier notre politique de confidentialité à tout
        </div>
</body>

{% endblock %}